<section>
<!--List of User's Posts-->
{{#each userPosts}}
<section>
    <h1>{{this.title}}</h1>
    <h5>{{format_date this.date}}</h5>
    <form class = "hidden">
    <label for="edit-post-title">{{post.title}}</label>
    <input type="text" class ="edit-post-title" data-id="{{this.id}}">
    <label for="edit-post-body">{{post.body}}</label>
    <textarea class = "edit-post-body" data-id="{{this.id}}"></textarea>
    <button class = "edit-button" data-id="{{this.id}}">Edit Post</button>
    </form>
    <button class = "delete-button" data-id="{{this.id}}">Delete Post</button>
</section>
{{/each}}
</section>
<!--Form for typing new post and title-->
<form class = "hidden">
    <label for="post-title">Title</label>
    <input type="text" class="post-title">
    <label for="post-body">Content</label>
    <textarea class = "post-body"></textarea>
    <button id = "create-post-button">Create Post</button>
</form>
<!--Button to summon new post fields-->
<!--<button id = "post-button">New Post</button>-->
<!--Form for editing post-->
<script src ='/js/post.js'></script>