<section class = "comment-post">
    <h1>{{post.title}}</h1>
    <h5>
        Posted by {{post.poster}} on {{format_date post.date}}</h5>
    <p>{{post.body}}</p>
</section>
{{#each comments}}
<article class = "comments">
<p>
    {{this.body}}
</p>
<p>
    -{{this.commenter}} on {{format_date this.date}}
</p>
</article>
{{/each}}
<div id ="comment">
<h3>Comment</h3>
    <textarea id = "comment-body">

    </textarea>
<button id = 'comment-button' data-id={{post.id}}>Comment <i class="fas fa-comment"></i></button>
</div>
<script src = "/js/comment.js"></script>