<section class = "flex-row justify-center">
    <h1>{{post.title}}</h1>
    <h5>
        Posted by {{post.poster}} on {{format_date post.date}}</h5>
    <p>{{post.body}}</p>
</section>
{{#each comments as |comment|}}
<article class = "comments">
<p>
    {{comment.body}}
</p>
<p>
    -{{comment.commenter}} on {{comment.date}}
</p>
</article>
{{/each}}
<!--Form for editing post-->
<form class = "hidden">
    <label for="post-title">{{post.title}}</label>
    <input type="text" id="post-title">
    <label for="post-body">{{post.body}}</label>
    <textarea id = "post-body"></textarea>
    <button id = "edit-button">Edit Post</button>
<button id = "delete-button">Delete Post</button>
</form>